/***********************MEDIA QUERYS**************************/
@media (max-width: 1200px) {
    .iconos{
        display: none;
    }
}

@media (min-width:780px){
    .cv-block.info {
        padding-top: 100px;
    }
}


@media (min-width: 768px) {
    .cv-block {
        padding-bottom: 120px;
        padding-top: 120px;
    }

    .cv-block.info .group .period {
        float: right;
    }
}

@media (min-width: 576px) {
    .navbar {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }
    .portfolio-navbar.fixed-top+.page {
        padding-top: 6rem;
    }
    .cv-block.info {
        padding-top: 100px;
    }
}

@media(max-width:426px) {
    .cv-block.block-intro p {
        font-size: 1.4em;
        /*font-weight: 300;*/
    }
}